# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

matplotlib==3.5.1=pypi_0
matplotlib-inline==0.1.3=pypi_0
numpy=1.22.3==pypi_0
openpyxl==3.0.9=pypi_0
pandas==1.4.2=pypi_0
plotly==5.7.0=pypi_0
python==3.10.0=h96c0403_3
scipy==1.8.0=pypi_0
seaborn==0.11.2=pypi_0
streamlit==1.8.1=pypi_0

